article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
code, kbd, pre, samp {
  font-family: Consolas,Menlo,Courier,monospace;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
}

.bg-purple-dark {
  background: #99a9bf;
}

.bg-purple{
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}
.m-10 {
  margin-top: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
}
.ml-10 {
  margin-left: 10px;
}

.row-bg{
  padding: 10px 0;
  background-color: #f9fafc;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}
// 一些公共方法
@import './mixins.scss';

@include boxModel(m, 20);
@include boxModel(m, 50, t);
@include boxModel(m, 20, b);
@include boxModel(m, 20, l);
@include boxModel(m, 20, r);
@include boxModel(p, 20);
@include boxModel(p, 30, t);
@include boxModel(p, 30, b);
@include boxModel(p, 20, l);
@include boxModel(p, 20, r);
@include display();
@include pos();
@include wh(w, 400);
@include wh(h, 400);
@include fs(20);

// flex相关熟悉
.s-fdc{
  flex-direction: column;
}
.s-jcc {
  justify-content: center;
}
.s-jcfs{
  justify-content: flex-start;
}
.s-jcfe{
  justify-content: flex-end;
}
.s-jcfs {
  justify-content: flex-start;
}
.s-jcsa {
  justify-content: space-around;
}
.s-jcsb {
  justify-content: space-between;
}
.s-aic {
  align-items: center;
}
// box
.bs{
  box-sizing: border-box;
}
// 浮动
.fl-l {
  float: left;
}
.fl-r {
  float: right;
}
// 其他
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.va-m {
  vertical-align: middle;
}
.ta-c{
  text-align: center;
}
.ta-l {
  text-align: left;
}
.ta-r {
  text-align: right;
}
// 字体
.fwb {
  font-weight: bold;
}
// 字体颜色
.cl-black {
  color: #000;
}
.cl-red {
  color: #F56C6C!important;
}
.cl-green {
  color: #67C23A!important;
}
.cl-grey-c {
  color: #ccc;
}
.cl-grey-d8 {
  color: #d8d8d8;
}
//边框
.bd-gray {
  border: 1px solid #d8d8d8;
}
// 背景色
.bg-white {
  background-color: #fff;
}
// 其他
.ofh {
  overflow: hidden;
}
.ofa-y {
  overflow-y: auto;
}
.cp {
  cursor: pointer;
}