@charset "UTF-8";
@import "common/var";
@import "mixins/mixins";
@import "mixins/utils";

@include b(dialog) {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  background: $--dialog-background-color;
  border-radius: $--border-radius-small;
  box-shadow: $--dialog-box-shadow;
  box-sizing: border-box;
  z-index: 1001;

  @include e(header) {
    position: relative;
    padding: $--dialog-padding-primary;
    padding-bottom: 10px;
    // border-bottom: 1px solid #eee;
  }

  @include e(headerbtn) {
    position: absolute;
    top: $--dialog-padding-primary;
    right: $--dialog-padding-primary;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: $--message-close-size;

    .xu-dialog__close {
      color: $--color-info;
    }

    &:focus, &:hover {
      .xu-dialog__close {
        color: $--color-primary;
      }
    }
  }
  
  @include e(body) {
    padding: 30px 20px;
    color: $--color-text-regular;
    font-size: $--dialog-content-font-size;
    word-break: break-all;
  }

  @include e(footer) {
    padding: $--dialog-padding-primary;
    padding-top: 10px;
    text-align: right;
    box-sizing: border-box;
  }

}