/* Colors
  -------------------------- */
  $--color-white: #ffffff;
  $--color-black: #000000;

  $--color-old-primary: #628cf5;
  $--color-primary: #628cf5;
  $--color-primary-light-1: #168fcb;
  $--color-primary-light-2: #D6E0FB;
  $--color-success: #0EAD83;
  $--color-warning: #FFCD42;
  $--color-danger: #FA7268;
  $--color-info: #909399;
  $--color-danger-light: #ffe9e8;
  $--color-close: #b4bccc;
  $--color-disabled: #C4C6CC;
  
  $--color-card-grey: #f5f5fa;
  
  $--color-text-primary: #3D424D;
  $--color-text-regular: #626673;
  $--color-text-secondary: #909399;
  $--color-text-placeholder: #c0c4cc;
  
  // calc color
  $--color-base-black: adjust-color($--color-primary, $hue: +6deg, $saturation: 33%, $lightness: 18%);
  /* Border
  -------------------------- */
  $--border-width-base: 1px;
  $--border-style-base: solid;
  $--border-color-base: #B6B8BF;
  $--border-color-light: #e4e7ed;
  $--border-color-lighter: #ebeef5;
  $--border-color-extra-light: #f2f6fc;
  $--border-color-hover: $--color-text-placeholder;
  $--border-base: $--border-width-base $--border-style-base $--border-color-base;
  $--border-radius-big: 10px;
  $--border-radius-base: 4px;
  $--border-radius-small: 2px;
  $--border-radius-circle: 100%;

  // Box-shadow
  /// boxShadow|1|Shadow|1
  $--box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;
  // boxShadow|1|Shadow|1
  $--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12) !default;
  /// boxShadow|1|Shadow|1
  $--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;
  
  /* Font
  -------------------------- */
  $--font-size-base: 14px;
  $--font-size-small: 12px;
  $--font-size-large: 16px;
  $--font-color-disabled-base: #bbb;
  $--font-weight-primary: 500;
  $--font-weight-bold: 600;
  $--font-line-height-primary: 24px;
  
  /* Button
  -------------------------- */
  $--button-radius-base: 32px;

  /* Dialog
  -------------------------- */
  $--dialog-background-color: $--color-white !default;
  $--dialog-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) !default;
  /// fontSize||Font|1
  $--dialog-title-font-size: $--font-size-large !default;
  /// fontSize||Font|1
  $--dialog-content-font-size: 14px !default;
  /// fontLineHeight||LineHeight|2
  $--dialog-font-line-height: $--font-line-height-primary !default;
  /// padding||Spacing|3
  $--dialog-padding-primary: 20px !default;

  /* Message
  -------------------------- */
  $--message-shadow: $--box-shadow-base !default;
  $--message-min-width: 380px !default;
  $--message-background-color: #edf2fc !default;
  $--message-padding: 15px 15px 15px 20px !default;
  /// color||Color|0
  $--message-close-icon-color: $--color-text-placeholder !default;
  /// height||Other|4
  $--message-close-size: 16px !default;
  /// color||Color|0
  $--message-close-hover-color: $--color-text-secondary !default;

  /// color||Color|0
  $--message-success-font-color: $--color-success !default;
  /// color||Color|0
  $--message-info-font-color: $--color-info !default;
  /// color||Color|0
  $--message-warning-font-color: $--color-warning !default;
  /// color||Color|0
  $--message-danger-font-color: $--color-danger !default;